.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.dashboard {
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    line-height: 43px;
}

.dashboard-top {
    display: flex;
    justify-content: space-between;
}

.dashboard-top button {
    float: right;
}

.projects {
    margin: 20px;
    clear: both;
}

.btn.btn-primary.project-btn,
.btn.btn-primary.task-btn {
    background: #2185d0;
}

.avatar {
    width: 50px;
    border-radius: 50%;
    /* margin: 20px; */
}

form {
    margin: 20px;
    width: 500px;
}

.App-link {
    color: #61dafb;
}

.list-group {
    margin-top: 10px;
}

.list-group-item {
    background: #f9f9f9;
    height: 45px;
    color: #282c34;
}

table {
    background: #fcfcfc;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}